{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movembers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Codepost</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movember in movembers %}
            <tr>
                <td><a href="{{ path('movember_show', { 'id': movember.id }) }}">{{ movember.id }}</a></td>
                <td>{{ movember.nom }}</td>
                <td>{{ movember.prenom }}</td>
                <td>{{ movember.codepost }}</td>
                <td>{{ movember.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movember_show', { 'id': movember.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movember_edit', { 'id': movember.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movember_new') }}">Create a new movember</a>
        </li>
    </ul>

    <div id="map" style="width: 900px; height: 750px;"></div>

{% endblock %}

{% block javascripts %}


    <script src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBeSMNscg42DI6pCi_nRhCTej25Dj4kzt4"
            type="text/javascript"></script>











    <script>
        var locations = [
            ['Bourges', 45.80842510000001, 4.898393, 8],
            ['Bourges', 47.65181889999999, 6.1742911, 7],
            ['Bourges', 47.1301139, 2.472585, 6],
            ['Cannes', 43.5748511, 7.074062899999999, 5],
            ['Nantes', 47.218371, -1.553621, 4],
            ['Toulouse', 43.604625, 1.444205, 3],
            ['Bordeaux', 44.91670389999999, -0.5333089999999999, 2],
            ['Paris', 48.869909, 2.3532054, 1]
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: new google.maps.LatLng(47.91, 1.91),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    </script>

{% endblock %}